################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/cs_nn_fm/v15
bin/Debug/cs_nn_fm.exe
bin/Debug/cs_nn_fm.pdb
obj/Debug/cs_nn_fm.exe
obj/Debug/cs_nn_fm.pdb

